<!DOCTYPE html>
<html lang="en">
<head>
    <title>토스트 만들기</title>

    <meta charset="utf-8">
    <meta name="description" content="quasar-project">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">

    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="styleguide.css">
    <link rel="stylesheet" href="style3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css">


</head>
<body>
    <div class="screen">
        <button class="homeButton" onclick="location.href='index.html'"><img src="/img/homeButton.svg"></button>
        <div class="infoTextwrap">
            <p id="text1">Chapter 1</p>
            <p id="text2">준비하기</p>
            <p id="text3">준비물 :</p>
            <p id="text4">마른 식빵, 계란, 우유, 설탕, 버터</p>
        </div>
        <div class="stepWrap">
            <div><img src="/img/step1.svg"></div>
            <div><img src="/img/step2.svg"></div>
            <div><img src="/img/step3.svg"></div>
            <div><img src="/img/step4.svg"></div>
        </div>
        <button class="previousButton" onclick="location.href='page2.html'"><img src="/img/previousButton.svg"></button>
        <button class="nextButton" onclick="location.href='page4.html'"><img src="/img/nextButton.svg"></button>
    </div>
</body>
</html>
