body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.screen {
    position: relative;
    background-color: #f0f0f3;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeButton{
    position: absolute;
    border:none;
    top: 8.6vh;
    right: 7.4vw;
}
#text1 {
    color: #A69485;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position:absolute;
    top: 11.6vh;
    left: 9.3vw;
}
#text2{
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position:absolute;
    top: 14.2vh;
    left: 9.2vw;
}
#text3{
    position: absolute;
    display: inline-block;
    color: #727272;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top: 21vh;
    left: 9.2vw;
}
#text4{
    display: inline-block;
    color: #727272;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position:absolute;
    top: 21vh;
    left: 21.4vw;
}
.timestartButton{
    display:inline-block;
    border: none;
    position: absolute;
    top: 62.3vh;
    left: -4.6vw;
    width: 37.2vw;
    height: 9.7vh;
}
.timelapseButton{
    display:inline-block;
    border: none;
    position:absolute;
    top: 62.3vh;
    right: 18.6vw;
    width: 37.2vw;
    height: 9.7vh;
}
.previousButton{
    display:inline-block;
    border:none;
    position:absolute;
    top: 83.9vh;
    left: 7vw;
}
.nextButton{
    display:inline-block;
    border:none;
    position:absolute;
    top: 83.9vh;
    right: 10.9vw;
}
#timer { 
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position:absolute;
    top: 40vh;
    left:20.4vw;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

.timelapseList {
    list-style-type:none; 
    padding: 0;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    position:absolute; 
    top: 54vh;
    left: 42.5vw;
    width: 14.9vw;
    height: 3.1vh;
}
  
  .blink {
    animation: blink 1s step-start infinite;
  }
#nowMessage1{
    display: none; 
    position: absolute; 
    font-family: Pretendard; 
    font-size: 30px; 
    color: #A69485;
    top: 34vh;
    left: 35.8vw;
    width: 28.3vw;
    height: 4vh;
    align-content: center;
}
#nowMessage2{
    display: none; 
    position: absolute; 
    font-family: Pretendard; 
    font-size: 20px; 
    color: #A69485;
    top: 21.5vh;
    left: 32.8vw;
    align-content: center;
    width:34.6vw;
    height:2.6vh;
}  
#nowMessage{
    position: absolute; 
    align-content: center;
}
