body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.screen {
    position: relative;
    background-color: #f0f0f3;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeButton{
    position: absolute;
    border:none;
    top: 8.6vh;
    right: 7.4vw;
}

#text1 {
    position: absolute;
    color: #A69485;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 11.6vh;
    left: 9.3vw;
}
#text2Bold{
    position: absolute;
    display: inline;
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 14.2vh;
    left: 9.3vw;
}
#text2{
    position: absolute;
    display: inline;
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    top: 14.2vh;
    left: 40vw;
}
#text3{
    position: absolute;
    display: inline-block;
    color: #727272;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top: 21.1vh;
    left: 9.3vw;
}
#text4{
    position: absolute;
    display: inline-block;
    color: #727272;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 21.1vh;
    left: 21.4vw;
}
.tipTitle{
    position: absolute;
    color: #727272;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 30.2vh;
    left: 9.3vw;
}
.tipContent{
    position: absolute;
    color: #727272;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 200% */
    top: 35.05vh;
    left: 9.3vw;
    width: 80vw;
}
.readyButton{
    position: absolute;
    border:none;
    top: 80.8vh;
    left: 9.3vw;
    bottom: 2.1vh;
    width: 61.4vw;
    height: 7.3vh;
}
